*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #0f0f0f;
    color: #d6d6d6;
    margin: 40px 0px;
    font-family: poppins;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    border: 1px solid #717171;
    border-left: 0px;
    width: 100%;
    border-right: 0px;
    padding: 1% 10%;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 25px;
}
nav ul li{
    list-style: none;
    padding: 0px 15px;
}
nav ul li a{
    font-size: 14px;
}
a{
    text-decoration: none;
    color: #afaeae;
    font-family: poppins;
}
#active{
    color: #d6d6d6;
}
#logo{
    color: #fff;
}

#header-con{
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}

#main-head{
    font-size: 56px;
    font-weight: 450;
}
#sub-head{
    font-size: 16px;
}

#explore{
    color:#000;
    border: 1px solid #afaeae;
    padding: 10px 20px;
    margin: 30px 0px 0px;
    background-color: #fff;
    border-radius: 12px;
}

#explore:hover{
    background-color: #cfcfcf;
}

#hamburger{
    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;
}
.hamburger-line{
    width: 20px;
    height: 1px;
    margin: 4px 0px;
    background-color: #afaeae;
}

#sign-in-btn{
    color: #000;
    padding: 5px 15px;
    border-radius: 1px;
    background-color: #afaeae;
    margin: 0px 0px 0px 10px;
}
#contain{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#cross{
    display: none;
}
#diagonal-1,#diagonal-2{
    width: 20px;
    height: 2px;
    margin: -1.07px;
    background-color: #afaeae;
}
#diagonal-1{
    rotate: 45deg;
}
#diagonal-2{
    rotate:-45deg
}

@media (max-width:760px){
    nav{
        flex-direction:column;
    }
    nav ul{
        margin: 10px;
    }
}

@media (max-width:600px){
    nav{
        flex-direction:row;
    }
    nav ul{
        flex-direction: column;
    }
    nav ul li{
        margin: 2px 0px;
    }
    nav ul li a{
        font-size: 16px;
    }
    #sign-in-btn{
        margin: 0px;
    }
    #hamburger{
        display: block;
    }
    #contain{
        position: absolute;
        top: 12%;
        left: 0;
        width: 100%;
        background-color: #0f0f0f;
        border-bottom: 1px solid #717171;
        padding: 10px;
        flex-direction: column;
        display: none;
    }
}